<!-- About Section -->
    <section id="about">>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Over</h2>
                    <h3 class="section-subheading text-muted">Meer informatie over Chino Zhang</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-left">
                    <p>
					Ik ben een leergierige developer met passie voor zijn werk. In teamverband kan ik in de rol van teamlead/teamlid op mij nemen, maar ik kan ook goed zelfstandig werken. Ik probeer ook zoveel
					mogelijk functionele kennis op te doen, omdat ik denk dat ik daar een betere developer van word. Hiermee onderscheid ik mij denk ik ook van andere developers die zich alleen concentreren op het technische vlak.
					
					Voor beschikbaarheid neem contact met mij op.
                    </p>
                </div>
            </div>
            <div class="row text-center">
               <div class="col-md-4">
                    <h4 class="service-heading">Certificaten</h4>
               
                    <ul class="list-group">
                      <li class="list-group-item">Microsoft Dynamics CRM Customization and configuration CRM 2013</li>
                      <li class="list-group-item">Microsoft Dynamics CRM 2013 Deployment</li>
                      <li class="list-group-item">Microsoft Dynamics AX 2012 Installation and Configuration</li>
                      <li class="list-group-item">Microsoft Dynamics AX 2012 Development</li>
                      <li class="list-group-item">ITIL Foundation</li>
                      <li class="list-group-item">HSK Chinese proficiency test Level 6 </li>
                      <li class="list-group-item">East China normal University Excellent student certificate</li>
                      
                    </ul>

                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Techniek</h4>
                    <ul class="list-group">
                      <li class="list-group-item">Dynamics AX</li>
                      <li class="list-group-item">Enterprise Portal</li>
                      <li class="list-group-item">SSRS</li>
                      <li class="list-group-item">Dynamics CRM</li>
                      <li class="list-group-item">X++</li>
                      <li class="list-group-item">C#</li>
                      <li class="list-group-item">WPF</li>
                      <li class="list-group-item">ASP.NET (MVC)</li>
                      <li class="list-group-item">MSSQL</li>
                      <li class="list-group-item">MySQL</li>
                      <li class="list-group-item">Java</li>
                      <li class="list-group-item">Javascript</li>
                      <li class="list-group-item">SOAP</li>
                      <li class="list-group-item">REST</li>
                      <li class="list-group-item">HTML</li>
                      <li class="list-group-item">PHP</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Trainingen</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Fast track Microsoft Dynamics CRM 2015</li>
                        <li class="list-group-item">Microsoft Dynamics AX Installation and configuration</li>
                        <li class="list-group-item">Microsoft Dynamics AX development 3</li>
                        <li class="list-group-item">Microsoft Dynamics AX development 2</li>
                        <li class="list-group-item">Microsoft Dynamics AX development 1</li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </section>