<!-- About Section -->
    <section id="experience" class="bg-light-gray">>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ervaring</h2>
                    <h3 class="section-subheading text-muted">Opleidingen en werkgevers.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006-2010</h4>
                                    <h4 class="subheading">Avans Hogeschool</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bachelor of ICT aan de Avans hogeschool voltooid met een minor in Game Development en ePresence</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2012</h4>
                                    <h4 class="subheading">East China Normal University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Intensive chinese business course voltooid in Shanghai.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2014</h4>
                                    <h4 class="subheading">Avanade</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dynamics AX developer bij Avanade.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2016</h4>
                                    <h4 class="subheading">Ciber</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dynamics CRM, Dynamics AX en .NET developer bij Ciber</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016-Huidig</h4>
                                    <h4 class="subheading">Dynamics Freelance</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Freelance Dynamics AX, Dynamics CRM developer</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>De 
                                    <br>volgende
                                    <br>uitdaging!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>