<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Freelance services die ik kan verlenen.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dynamics AX</h4>
                    <p class="text-muted">Technische en wat functionele kennis van Dynamics AX. Ook kennis van randzaken zoals enterprise portal, installatie en configuratie.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dynamics CRM</h4>
                    <p class="text-muted">Functionele en technische kennis, dus breed inzetbaar. Veel kennis van interfaces, webservices, plugins en custom workflows</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">.NET</h4>
                    <p class="text-muted">.NET C# kennis en ASP.NET MVC kennis. Vele technieken gebruikt zoals WPF, SOAP, REST</p>
                </div>
            </div>
        </div>
    </section>